*{
    box-sizing: border-box;
}
body {
    font-family: "Work Sans", sans-serif;
}
:root {
    --main--color : #10cab7;
    --second--color: #2c4755;
    --section--padding: 60px;
    --section--background-color: #f6f6f6;
}
html {
    scroll-behavior: smooth;
}
/* small */
@media (min-width: 768px) {
    .container {
        width: 750px ;
    }

}
/* medium */
@media (min-width: 992px) {
    .container {
        width: 980px ;
    }
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1180px ;
    }
}
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}
.special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media (max-width:767px) {
    .special-heading {
        font-size: 60px;
    }
    .special-heading + p {
        margin: -20px 0 0;
    }
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    width: 60px;
}
.header .links {
    position: relative;
    cursor: pointer;
    z-index: 1;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
} 
.header .links .icon span {
    background-color: black;
    margin-bottom: 5px;
}
.header .links .icon span:first-child {
    height: 2px;
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    height: 2px;
    width: 60%;
    transition: 0.3s 0.1s ease-in;
    -webkit-transition: 0.3s 0.1s ease-in;
    -moz-transition: 0.3s 0.1s ease-in;
    -ms-transition: 0.3s 0.1s ease-in;
    -o-transition: 0.3s 0.1s ease-in;
}
.header .links .icon span:last-child {
    height: 3px;
    width: 100%;
}
.header .links ul {
    position: absolute;
    right: 0;
    padding: 0;
    margin: 0;
    top: calc(100% + 15px);
    min-width: 200px;
    background-color: #f6f6f6;
    display: none;
}
.header .links:hover ul {
    display: block;
}
.header .links ul::before {
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #333;
    transition: 0.3s 0.1s ease-in;
    -webkit-transition: 0.3s 0.1s ease-in;
    -moz-transition: 0.3s 0.1s ease-in;
    -ms-transition: 0.3s 0.1s ease-in;
    -o-transition: 0.3s 0.1s ease-in;
}
.header .links ul li a:hover {
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #ddd;
}
.lauding {
    background-image: url(../image/53b5617eb50da7af6e10927cf0a6f3ae.jpg);
    height: calc(100vh - 64px);
    background-size: cover;
    position: relative;
}
.lauding .containere {
    position: absolute;
    bottom: 50%;
    right: 50%;
    transform: translate(50%, 50%);
    margin: 0;
    text-align: center;
    max-width: 100%;
    width: 320px;

}
.lauding .containere h1 {
    color: var(--main--color);
    text-transform: capitalize;
    margin: 0;
}
.lauding .containere p {
    color: #ff5656;
    font-size: 19px;
    font-weight: bold;
    margin: 0;
    line-height: 1.8;
}
.feature {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
    
}
.feature .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 20px;
}
.feature .feat {
    padding: 20px;
    text-align: center;
}
.container .feat i {
    color: #10cab7;
}
.feature .feat h3 {
    font-weight: 800;
    margin: 20px 0;
    text-transform: capitalize;
}
.feature .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
.services {
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin-top: 100px;
}
.services-content img {
    width: 260px;
    height: 361px;
}
.services-content .image {
    text-align: center;
    position: relative;
    
}
.services-content .image::before {
    content: "";
    background-color: var(--second--color);
    width: 80px;
    position: absolute;
    top: -25px;
    right: 8px;
    height: calc(100% + 50px);
    z-index: -1;
    
}
@media (max-width: 1199px) {
    .eror {
        display: none;
    }
    
}
.services .services-content .srv {
    display: flex;
    margin-bottom: 30px;
}
@media (max-width: 767px) {
    .services .services-content .srv {
        flex-direction: column;
        text-align: center;
    }
    
}
.services .services-content .srv i {
    color: #10cab7;
    flex-basis: 60px;
}
.services .services-content .srv .text {
    flex: 1;
}
.services .services-content .srv h3 {
    margin: 0 0 20px;
    text-transform: capitalize;
}
.services .services-content .srv p {
    color: #777;
    font-weight: 800;
    line-height: 1.6;
}
.portfolio {
    padding-top: var(--section--padding);
    padding-bottom: var(--section--padding);
    background-color: var(--section--background-color);
}
.portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 30px;
    margin-top: 80px;
}
.portfolio-content .card {
    background-color: white;
}
.portfolio-content .card {
    background-color: white;
}
.portfolio-content .card img {
    max-width: 100%;
}
.portfolio-content .card .CH {
    height: 213.59px;
    width: 363.33px;
}
@media (max-width: 1199px) {
    .portfolio-content .card .CH {
        height: 270.44px;
        width: 459px;
    }
}
.portfolio-content .card .info {
    padding: 20px;
}
.portfolio-content .card .info h3 {
    margin: 0;

}
.portfolio-content .card .info p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0;
}
@media (max-width: 767px) {
    .portfolio-content .card .info {
        text-align: center;
    }
    
}
.About {
    padding-top: var(--section--padding);
    padding-bottom: var(--section--padding + 60px);
}
.About .About-content {
    margin: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
@media (max-width: 991px) {
    .About .About-content {
        text-align: center;
        flex-direction: column;
        margin: 30px 0;
    }
    
}
.About .About-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width: 991px) {
    .About .About-content .image {
        margin: 0 auto 60px;
    }
    
}
.About .About-content .image::before {
    content: "";
    position: absolute;
    background-color: #ebeced;
    width: 100px;
    height: calc(100% + 60px);
    top: -20px;
    left: -20px;
    z-index: -1;
}
.About .About-content .image::after {
    content: "";
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main--color);
    border-bottom: 80px solid var(--main--color);
    z-index: -1;
    right: -150px;
    top: -21px;
}
@media (max-width:535px) {
    .About .About-content .image::before,
    .About .About-content .image::after{
        display: none;
        
    }
}
.About .About-content .image img {
    max-width: 100%;
    height: 378px;
}
.About .About-content .text {
    /* flex-basis: calc(100% - 500px); */
    flex: 1;
    padding-left: 200px;
}
@media (max-width: 991px) {
    .About .About-content .text {
        padding: 0;
    }
    
}
.About .About-content .text p:first-of-type {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}
.About .About-content .text p:last-of-type {
    line-height: 2;
    color: #777;
}
.About .About-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: #10cab7;
}
.contact {
    padding-top: var(--section--padding);
    padding-bottom: var(--section--padding);
    background-color: var(--section--background-color); 
}
.contact .info {
    padding-top: var(--section--padding);
    padding-bottom: var(--section--padding);
    text-align: center;
}
.contact .info::first-letter,
.contact .social {
    text-transform: capitalize;
}
.contact .info p {
    font-size: 39px;
    font-weight: 800;
    color: var(--second--color);
    letter-spacing: -1px;
    margin-bottom: 15px;
}
.contact .info a {
    text-decoration: none;
    font-size: 39px;
    display: block;
    font-weight: 800;
    color: #10cab7;
    margin-bottom: 15px;
}
@media (max-width: 767px) {
    .contact .info p,
    .contact .info a{
        font-size: 25px;
    }
    
}
.contact .info .social {
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.contact .info .social i {
    margin-left: 15px;
    color: #2c4755;
}
.footer {
    background-color: #2c4755;
    color: white;
    padding: 30px 10px;
    text-align: center;
    font-size: 18px;
}
.footer span {
    text-transform: capitalize;
    font-weight: bold;
    color: #10cab7;
}










